*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: whitesmoke;
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
}

header{
  padding: 10px 20px;
}
.img{
  box-shadow: 1px 10px  10px 10px #00000017;
  border-radius: 10px;
  padding: 10px 10px 5px 10px;
  background-color: white;
  max-width: 415px;
  margin: 0 auto;
}

.img__content{
  width: 100%;
}

.encabezado{
  color: black;
  padding: 5px;
  text-align: center;
  padding: 10px 0px;
}

.encabezado h1 {
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}

.encabezado h2 {
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
} 

.contenedor{
  width: 80%;
  height: 350px;
  background-color:#9999e89a;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
}

.slider input{
  visibility: hidden;
  display: none;
}

.botones{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: -320px;
  gap: 10px;
}

.botones label{
  width: 20px;
  height: 20px;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
  z-index: 1;
  transition:  300ms ease-in-out;
}

.botones label:hover{
  scale: 1.2;
  opacity: 1;
}

.slider input:nth-child(1):checked ~ .buttons label:nth-child(1),
.slider input:nth-child(2):checked ~ .buttons label:nth-child(2),
.slider input:nth-child(3):checked ~ .buttons label:nth-child(3),
.slider input:nth-child(4):checked ~ .buttons label:nth-child(4)
{
    opacity: 1;
    scroll-margin: 1.2;
    width: 40px;
}

.content{
  position: absolute;
  width: 400vw;
  display: flex;
  transition: 400ms ease-in-out;
  overflow-x: hidden;
}

.firstslide,.secondslide,.thirdslide,.fourthslide{
  box-sizing: content-box;
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.firstslide{
  background-color: orange;
}
.secondslide{
  background-color: brown;
}
.thirdslide{
  background-color: green;
}
.fourthslide{
  background-color: blue;
}

.slider input:nth-child(1):checked ~ .content{
  left: 0;
}

.slider input:nth-child(2):checked ~ .content{
  left: -100vw;
}

.slider input:nth-child(3):checked ~ .content{
  left: -200vw;
}

.slider input:nth-child(4):checked ~ .content{
  left: -300vw;
}

.footer--contenido {
  background-color: #9fcaff6b;
  color: gray;
  position: absolute;
  width: 100%;
  bottom: 0;
}

footer h1{
 text-align: left;
 font-size: 15px ;
 padding: 5px;
}

.card{
  width: 200px;
  min-height: 200px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 80px;

  border-radius: 10px;
  box-shadow: 6px 6px 20px rgb(0, 0, 0, 0.24 );

  background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);

  background-size: 100% 150px;
  background-repeat: no-repeat;

  text-align: center;
  padding: .1px;
}