*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body{
    background-color: black
}
.encabezado{
    background-image: url(https://live.staticflickr.com/65535/49422910533_55b7c3287c_b.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
    position: relative;
}

.encabezado header h1 {
    text-align: center;
    color: rgb(41, 82, 84);
    width: 90%;
    max-width: 800px; 
    margin: auto;
    padding: 10px;
    border-radius: 10px 10px 100px 100px;
    box-shadow: 0px 0px 100px 1px #0000ff;
    margin-bottom: 40px;
    letter-spacing: 7px;
}
.asideizq{
    grid-row: span 3;
}

main{
    margin: 0px;
    display: grid;
    grid-template-columns: 10% 50% 40%;
}

.nav{
    height: 50px;
}

.nav a{
    background-color: rgba(95, 158, 160, 0.6);
    color: #fff;
    border: none;
    padding: 10px 10px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}
.nav a:hover{
    background-color: cadetblue;
}

.mapa{
    margin-left: 15px;
    max-width: 350px;
}


.foot nav ul {
    display: flex;
    list-style: none;
    margin-top:15px ;
}

.foot nav ul a{
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.prueba{
    background-color: blue;
    margin: 10px;
}
footer{
    background-color: black;
    color: aliceblue;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Fomulario*/
form {
    max-width: 200px;
    padding: 3px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f965;
    text-align: center;
    margin-bottom: 100px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 5px 0 5px 0;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: rgba(95, 158, 160, 0.6);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: cadetblue;
}

.foot nav ul li a{
    background-color: rgba(95, 158, 160, 0.6);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.foot nav ul li a:hover{
    background-color: cadetblue;
}

@media (max-width: 700px) {

    main{
        grid-template-columns: 3% 50% 50%;
    }
    .mapa{
        margin-left: 0px;
        max-width: 350px;
    }
    form {
        margin-left: 40px;
    }
    .encabezado{
        background-size: cover;
        height: 100vh;
    }
}