*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
  display: block;
}

body {
  color: #666666;
  background-color: white;
  background-image: url(https://live.staticflickr.com/65535/53177053543_a60d7c86e7_b.jpg);
  background-position: top;
  background-position-y: 40px;
  background-repeat: no-repeat;
  background-size: cover ;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  font-family: Georgia, Times, serif;
  line-height: 1.4em;
}

.encabezado{
  height: 390px;
  background-image: url(http://drive.google.com/uc?export=view&id=10yYzodE_rEkSwt9ZT_96XT0Fz5N8nz1v);
  background-position: top;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 10px;
}
/* EDICION DEL NAV*/
nav,
footer {
  clear: both;
  color: #ffffff;
  height: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  width: 100%;
  margin-right: 10px;
}

nav li {
  background-color:  #e7b33b;
  margin: 10px;
}
.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

nav li a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

nav li a:hover{
  color: whitesmoke;
  background-color: #e7b33b;
  padding-top: 10px;
}

.menu-toggle:checked ~ #menu{
  display: block;
}

/* ASIDE A LA DERECHA */

aside {
  text-align: left;
  float: right;
  width: 20%;
  color: black;
  max-width: 350px;
  min-width: 300px;
  box-sizing: border-box;
  border: 1px solid black;
  margin-right: 30px;
  background-color: rgba(107, 99, 86, 0.725);

}
aside:hover{
  background-color: rgba(255, 166, 0, 1);
  color: black;
}

aside h2{
  padding-top: 15px;
  margin: 5px;
  color: #cd120f;
}

aside section a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  text-decoration: none;
  color: black;
}

aside section a:hover {
  color: #c48525;
  background-color: #efefef;
}
aside section p{
  margin: 10px;
}
.descripcion h2{
  padding-bottom: 5px;
  border-bottom:  1px solid red;
}
.titulos h2{
  padding-bottom: 5px;
  border-bottom:  1px solid red;
}

/* Contenido */

.courses {

  float:left;
  width: 60%; 
  padding-left: 5%;
  box-sizing: border-box;
}

.courses h1{
  text-align: center;
  color: black;
  font-size:auto  ;
  background-color: rgba(255, 255, 255, 0.439);
  padding: 14px;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

figure{
  margin: 0;
  padding-top: 10px;
}

@media (max-width: 825px) {

  .encabezado{
    background-size: 115%;
  }
  aside {
    text-align: center;
    float: none;
    max-width: 500px;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
  }
  aside .descripcion{
    margin-top: -90px;
  }
  .courses {
    text-align: center;
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
  }
  .courses h1{
    width: 70%;
    background-color: transparent;
    width: fit-content;
  }
}

@media (max-width: 520px) {
  body{
    background-size: 310%;
    background-attachment: fixed;
  }
  aside .descripcion{
    margin-top: -150px;
  }
  nav li {
    background-color:  #e7b33bb4;
    width: 20%;
    box-shadow: none;
    position: relative;
  }
  .menu-toggle:checked ~ ul {
    flex-direction: column;
    padding: 10px 0 0 0;
  }
  .menu-icon {
    display: block;
    padding: 10px;
    background-color:  #e7b33bb4;
    width: fit-content;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    margin-bottom: 5px;
  }
}