*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
  display: block;
}

body {
  color: #666666;
  background-color: black;
  font-family: Georgia, Times, serif;
  line-height: 1.4em;
  margin: 0px 50px 50px 50px;
}
.wrapper{
  background-image: url(https://live.staticflickr.com/65535/53177053543_a60d7c86e7_b.jpg);
  background-position: top;
  background-position-y: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
}

.encabezado{
  height: 390px;
  background-image: url(http://drive.google.com/uc?export=view&id=10yYzodE_rEkSwt9ZT_96XT0Fz5N8nz1v);
  background-position: top;
  background-position-y: 10px;
  background-repeat: no-repeat;
  padding-top: 20px;
  margin: 0 auto;
}

/* EDICION DEL NAV*/
nav,
footer {
  clear: both;
  color: #ffffff;
  height: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  position: fixed;
  background-color: black;
  width: 100%;
  padding-bottom: 10px;
}

nav li {
  margin: 10px;
}
.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

nav li a {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 2px 10px 2px ;
}

nav li a:hover{
  color: whitesmoke;
  background-color: #e7b33b;
  transition: 1s;
}

.menu-toggle:checked ~ #menu{
  display: block;
}


/* ASIDE A LA DERECHA */

aside {
  text-align: left;
  float: right;
  width: 20%;
  color: black;
  max-width: 350px;
  min-width: 250px;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 5px;
  background-color: rgba(107, 99, 86, 0.725);

}
aside:hover{
  background-color: rgba(255, 166, 0, 1);
  color: black;
}

aside h2{
  padding-top: 15px;
  margin: 5px;
  color: #cd120f;
}

aside section a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  text-decoration: none;
  color: black;
}

aside section a:hover {
  color: #c48525;
  background-color: #efefef;
}
aside section p{
  margin: 10px;
}
.descripcion h2{
  padding-bottom: 5px;
  border-bottom:  1px solid red;
}

.titulos h2{
  padding-bottom: 5px;
  border-bottom:  1px solid red;
}


/* Contenido */

.courses {
  float:left;
  width: 70%;
  min-width: 500px;
  margin: 5px;
  text-align: center;
}

.courses h1{
  text-align: center;
  color: black;
  background-color: rgba(107, 99, 86, 0.725);
  padding: 14px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  width: 200px;
}
article{
  background-color: rgba(79, 67, 67, 0.686);
}

article p{
  color:black;
  max-width: 600px ;
  text-align: right;
  margin: 0 auto;
  padding: 15px;
  height: 250px;
  margin-bottom: 50px;
}

article h2{
  max-width: auto ;
  margin: 0 auto;
  max-width: 630px;
  padding-top: 10px;
  color: black;
}

.long{
height: auto;
}

figure{
  margin: 10px;
  float: left;
  border: 1px solid black;
}

figcaption{
  color: black;
  text-align: left;
  border-top: 1px solid black;
}
article:hover{
  background-color: rgba(107, 99, 86);
  color: black;
}
/* Estoy aqui*/
@media (max-width: 999px) {

  .encabezado{
    background-size: 104%;
  }
  
  .aside1 {
    float: none;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: rgb(255, 166, 0, .7);
  }
  
  .center{
    text-align: center;
    width: 100%;
    max-width: 100%;
    background-color: rgb(255, 166, 0, .7);
    margin: auto;
    border: none;
    margin-bottom: 10px;
  }
 
  .courses {
    text-align: center;
    width: auto; 
    padding: 20px;
    min-width: 200px;
    box-sizing: border-box;
  }

  .courses h1{
    width: 70%;
    background-color: transparent;
    width: fit-content;
  }

  figure{
    margin: 10px;
    float: none;
    border: none;
  }

  figcaption{
    margin-top: 10px;
    color: black;
    text-align: left;
    border-top: 1px solid black;
  }
  .long2, .long{
    height: auto;
    text-align: left;
    }
}


@media (max-width: 520px) {
  
  body{
    background-size: 100%;
    background-attachment: fixed;
  }
  .menu-toggle:checked ~ ul {
    flex-direction: column;
    margin: -1px;
    padding: 0 0 8px 0;
    background-color:  rgba(0, 0, 0, 0.826);

  }
  .menu-icon {
    display: block;
    padding: 10px;
    background-color:  #e7b33bb4;
    width: fit-content;
    position: fixed;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    margin-bottom: 5px;
  }
  .courses{
    width: 100%;
    padding: 0;
    margin: 0;
  }

  figure img {
    margin: 0px;
    width: 100%;
  }
  body{
    margin: 0px 20px 20px 20px;
  }

}