@font-face {
    font-family: 'QuicksandBook';
    src: url('fonts/Quicksand_Book-webfont.eot');
    src: url('fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Quicksand_Book-webfont.woff') format('woff'),
        url('fonts/Quicksand_Book-webfont.ttf') format('truetype'),
        url('fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
body {
    color: #ffffff;
    background: cadetblue ;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0px;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    grid-auto-columns: auto;
}

/*ENCABEZADO*/
.container_12 {
    margin: 0 auto;
    width: 100%;
}
.encabezado{
    grid-column: span 5;
    background-color: blue;
}
.grid_1{
    display: inline;
    float: left;
}
.logo{
    padding: 10px;
}
.nav{
    padding: 30px 10px 0px 0px; 
    float: right;
    border-bottom: 1px solid black;
}

/*Aside izq y derecha */
.aside{
    grid-row: span 3;
    background-color: red;
}
.banner1{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7b40a618-67e4-4a24-93c7-ab80b05d08bb/d5gxz2t-14877ed3-a354-469c-a6ac-4e6cafb0d21b.jpg/v1/fill/w_230,h_1000,q_75,strp/banner_vertical_multipersonajes_by_last_eden_d5gxz2t-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAwMCIsInBhdGgiOiJcL2ZcLzdiNDBhNjE4LTY3ZTQtNGEyNC05M2M3LWFiODBiMDVkMDhiYlwvZDVneHoydC0xNDg3N2VkMy1hMzU0LTQ2OWMtYTZhYy00ZTZjYWZiMGQyMWIuanBnIiwid2lkdGgiOiI8PTIzMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.3fTUkhEhElBrThq5HeEDezeZBrP50Kz9EVx3ViL3kow);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
.banner2{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7b40a618-67e4-4a24-93c7-ab80b05d08bb/d5mmdw5-a22be159-c8b0-4624-a1c2-7306d836b796.jpg/v1/fill/w_230,h_1000,q_75,strp/banner_multipersonajes_iv_by_last_eden_d5mmdw5-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAwMCIsInBhdGgiOiJcL2ZcLzdiNDBhNjE4LTY3ZTQtNGEyNC05M2M3LWFiODBiMDVkMDhiYlwvZDVtbWR3NS1hMjJiZTE1OS1jOGIwLTQ2MjQtYTFjMi03MzA2ZDgzNmI3OTYuanBnIiwid2lkdGgiOiI8PTIzMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.UPc-sKL8-m1n-e__TdZ1aOAUS6juFEKsjwVHH195gmQ);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x:right ;
    height: 100%;
}
.margin{
    padding: 5px;
    padding-top: 50px;
}
.short{
    width: 80%;
    margin: 0 auto;
}
.primario{
    grid-column: span 3;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
}
.onepiece2{
    font-size: 20px;
    margin: 0 auto;;
}
.primario figure{
    float: left;
    padding: 10px;
}
.primario figure img{
    width: 100%;
    border: 1px solid rgba(187, 209, 87);
}
.primario article{
    float: right;
    padding: 10px;
    border: 1px solid rgba(97, 102, 77, 0.529);
    border-radius: 40px;
}
.onepiece{
    padding-top: 10px;
}
.primario p{
    padding-top: 10px;
    text-align: center;
}
.barra {
    grid-column: span 3;
    padding: 5px;
}
.barra h1{
    border-bottom: 1px solid black;
}
.galeria{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.titulo{
    font-size: 15px;
    padding: 5px;
}
.otros{
    margin: 10px;
    background-color: rgba(187, 209, 87, 0.535);
    height: auto;
    border-radius: 10px;
}

.otros:hover{
    background-color: rgba(187, 209, 87);
}
.otros img{
    margin: 10px;
    width: 70%;
}
.otros section{
    display: flex;
    padding-left: 10px;
    gap: 10px;
}

.genero{
    font-size: 15px;
    padding-bottom: 10px;
}

@media (max-width: 600px) {

    .galeria{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}


@media (max-width: 450px) {

    .galeria{
        display: grid;
        grid-template-columns: 100%;
    }
}
