*{
  padding: 0;
}
body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 100%;
  color: #1e1c1cd6;  
  background-color: #f9dfc0;
  background-image: url(https://img.freepik.com/free-vector/hand-drawn-flat-design-book-spine_23-2149320036.jpg?w=1060&t=st=1694021755~exp=1694022355~hmac=1aada5cfaa1d8f943b1bfe08fb60fcf8c4e39a432be0930ed94f018f921a5dea);
  background-repeat: no-repeat;
  padding-top: 20px;
  background-size:contain;
  background-position: center;
  height: 0 auto;
  border: 2px solid rgb(205, 141, 39);

}


fieldset {
  width: 310px;
  border: 1px solid #f9dfc080;
  background-color: #f9dfc080;
  line-height: 1.6em;
  margin: auto;
}

fieldset h1{
  font-size: 15px;
  text-align: center;
}

input[type='text'] {
  width: 120px;
  border: 1px solid #d6d6d6;
  padding: 2px;
  outline: none;
}
input[type='text']:focus,
input[type='text']:hover {
  background-color: #d0e2f0;
  border: 1px solid #999999;
}
input[type='submit'] {
  border: 2px solid #e9ad65e1;
  background-color: #e9ad65e1;
  color: #666;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
input[type='submit']:hover {
  border: 2px solid #00cc33;
  background-color: #00cc33;
  color: #ffffff;
  cursor: pointer;
}
.title {
  float: left;
  width: 160px;
  clear: left;
}
.submit {
  width: 310px;
  text-align: center;
  margin: auto;
}

.banner h1{
  text-align: center;
  background-color: rgb(249, 223, 192,.5);
}

.cursos{
text-align: center;
background-color: rgb(249, 223, 192,.5);
width: 100%;
border-radius: 10px;
margin: 0 auto;
margin-bottom: 10px;
}

.textos{
  text-align: center;
  background-color: #f9dfc080;
}

.tabla_cursos h1{
  font-size: medium;
}

.principal + .tabla_cursos {
  color: #1e1c1cd6;
  font-size: 20px;
  height: 0;
  overflow: hidden; 
  transition: 1s;
} 

.checkbox{
  display: none;
}

.custom-checkbox{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.checkbox:checked + .custom-checkbox {
  font-weight: bold;
}

.checkbox:checked + .custom-checkbox + .tabla_cursos {
  opacity: 1;
  height: 100px;
}